/* Common Root css */
:root {
  /* font weight */
  --light:300;
  --regular:400;
  --medium:500;
  --semibold:600;
  --bold:700;
  --extrabold:800;
  /* color */
  --base-white:#ffffff;
  --base-black:#000000;
  --main-black:#3b3b3b;
  --main-ocher:#a2895b;
  --menu-color:#5e5e5e;
}
/* Common */
html , body {width:100%;height:100%;}
html {font-size:20px;}
body {font-size:1rem; overflow-x:hidden;}
select {
  height:2.8rem;
  border-radius:0.2rem;
  border:1px solid #dedee1;
  box-sizing:border-box;
  background:url(../images/btns/btn_select_down_arrow.png)no-repeat 95% center / 1.1rem 1.1rem;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  font-size:0.8rem;
  letter-spacing:0.05px;
  color:#c9caca;
  font-family: 'Pretendard Variable';
  font-weight:var(--medium);
  padding:0 2.3rem 0 0.9rem;
  outline:none;
}
select::-ms-expand{
   display:none;
}
/* Layout */
.wrap {width:100%;height:100%;box-sizing:border-box;overflow-x:hidden;}
.container-fluid {width:100%;min-width:51.2rem;box-sizing:border-box; -webkit-tap-highlight-color:transparent;}
.container {width:62rem;max-width:51.2rem;margin:0 auto;box-sizing:border-box; -webkit-tap-highlight-color:transparent;}
.flex {display:flex;align-items:center;}
.flex-direction {display:flex;flex-direction:column;}
.flex.baseline {display:flex;align-items:baseline;}
.flex-wrap {flex-wrap:wrap;}
/* Sly css */
.m-nav {padding-left:1rem;border-bottom:1px solid #f5f5f7;width:100%;box-sizing:border-box;}
.m-nav ul {display:flex;align-items:center;margin:0;padding:0;list-style:none;-ms-touch-action:pan-y;touch-action:pan-y;}
.m-nav ul li {position:relative;cursor:pointer;white-space:nowrap;padding-bottom:0.8rem;margin-right:0.8rem;padding-right:0.25rem;font-size:0.75rem;letter-spacing:-0.09px;color:#898d97;font-weight:var(--medium);font-family: 'Pretendard Variable';box-sizing:border-box;}
.m-nav ul li:last-child {padding-right:1rem;}
.m-nav ul li::after {content:'';position:absolute;left:0;bottom:0;width:0%;height:3px;background:var(--main-ocher);z-index:9999;transition:.35s ease-in-out;}
.m-nav ul li.on::after {width:calc(100% - 0.25rem);}
.m-nav ul li:last-child.on::after {width:calc(100% - 1rem);}
.m-nav ul li.on {color:#918d79;font-weight:var(--bold);}
/* Common header-menu */
.wrap {
  padding-top:6.4rem;
  overflow-y:scroll;
}
.header_wrap {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  z-index:9999;
  background:var(--base-white);
}
.header_top {
  height:3.2rem;
  box-sizing:border-box;
  box-shadow:0px 1px 0px 0px #eaeaea;
}
.header_top > .flex {
  justify-content:space-between;
  height:100%;
}
.header_top .container .leftmenu .menu_btn {
  cursor:pointer;
  display:none;
}
.header_top .container .leftmenu .menu_btn img {
  width:1.4rem;
  height:1.4rem;
}
.header_top .container .leftmenu .search_box {
  gap:0.4rem;
  grid-gap:0.4rem;
  margin-left:0.9rem;
}
.header_top .container .leftmenu .search_box input {
  width:10.3rem;
  height:1.6rem;
  padding:0 0.65rem;
  box-sizing:border-box;
  border-radius:0.8rem;
  border:1px solid #e7e7e7;
  font-size:0.6rem;
  letter-spacing:-0.5px;
  color:var(--main-black);
  font-family:"Pretendard Variable";
}
.header_top .container .leftmenu .search_box img {
  width:1.1rem;
  height:1.1rem;
  cursor:pointer;
}
.header_top .container .leftmenu .search_box input::placeholder {
  font-family:"Pretendard Variable";
  color:#b0b0b0;
}
.header_top .container .userin {
  width:5.5rem;
  max-height:1.6rem;
  justify-content:center;
  border-radius:0.9rem;
  padding:0.45rem 0;
  border:1px solid #e7e7e7;
  box-sizing:border-box;
}
.header_top .container .userin a {
  font-size:0.55rem;
  color:#898989;
  font-weight:var(--medium);
  font-family:"Pretendard Variable";
}
.header_top .container .mobile_logo {
  display:none;
}
.header_top .container .logo a {
  display:flex;
}
.header_top .container .logo img {
  width:7.5rem;
  height:1.3rem;
}
.header_top .container .option {
  position:relative;
  gap:1.8rem;
  grid-gap:1.8rem;
}
.header_top .container .option::after {
  content:'';
  position:absolute;
  left:60%;
  top:50%;
  transform:translate(-50%,-50%);
  width:1px;
  height:1.05rem;
  background:#d9d9d9;
}
.header_top .container .option > .flex {
  gap:1.1rem;
  grid-gap:1.1rem;
}
.header_top .container .option .user img {
  width:1rem;
  height:1.1rem;
}
.header_top .container .option .mobile_search {display:none;}
.header_top .container .option .mobile_search img {
  width:1.1rem;
  height:1.1rem;
  cursor:pointer;
}
.header_top .container .option .basket {
  position:relative;
}
.header_top .container .option .basket .basketcount {
  position:absolute;
  right:-0.3rem;
  top:-0.3rem;
  justify-content:center;
  width:0.8rem;
  height:0.8rem;
  border-radius:50%;
  background:#df693f;
  cursor:pointer;
}
.header_top .container .option .basket .basketcount span {
  font-size:0.5rem;
  letter-spacing:0;
  color:var(--base-white);
  font-family: 'Pretendard Variable';
  font-weight:var(--semibold);
  line-height:1;
}
.header_top .container .option .basket img {
  width:1.25rem;
  height:1.15rem;
}
.header_menu nav {
  height:3.2rem;
}
.header_menu nav > ul {
  justify-content:space-between;
  height:100%;
}
.header_menu nav > ul li {
  position:relative;
  height:100%;
  display:flex;
  align-items:center;
  cursor:pointer;
}
.header_menu nav > ul li .menu {
  cursor:pointer;
  gap:0.3rem;
  grid-gap:0.3rem;
}
.header_menu nav > ul li .menu span {
  font-size:0.75rem;
  color:#5e5e5e;
  font-weight:var(--semibold);
  font-family: "Co-sb";
}
.header_menu nav ul li > .sub_menu {
  display:none;
  position:absolute;
  left:-1.2rem;
  top:3.2rem;
  z-index:9999;
  min-width:11.8rem;
  box-sizing:border-box;
  background:var(--base-white);
  border:1px solid #ebebeb;
  box-shadow:0 0.25rem 1.1rem 0 rgba(0,0,0,0.11);
  border-radius:0.6rem;
  padding:1.55rem 3.05rem 1.55rem 1.45rem;
}
.header_menu nav ul li > .sub_menu.fake {
  background:rgba(255,255,255,0);
  border:none;
  box-shadow:none;
  padding-left:0;
  padding-right:0;
  padding-bottom:0;
  padding-top:0.5rem;
}
.header_menu nav ul li > .sub_menu > .sub_menu_box {
  background:var(--base-white);
  border:1px solid #ebebeb;
  box-shadow:0 0.25rem 1.1rem 0 rgba(0,0,0,0.11);
  border-radius:0.6rem;
}
.header_menu nav ul li > .sub_menu > .sub_menu_box .sub_menu_title {
  padding-bottom:0.5rem;
  border-bottom:1px solid #ebebeb;
  margin:1rem 1.1rem 0 1.45rem;
}
.header_menu nav ul li > .sub_menu > .sub_menu_box .sub_menu_title span {
  font-size:0.8rem;
  letter-spacing:0;
  color:var(--main-ocher);
  font-family: "Co-sb";
  line-height:1;
}
.header_menu nav ul li > .sub_menu > .sub_menu_box ul {
  padding:0.8rem 3.05rem 1.55rem 1.45rem;
  gap:0.85rem;
  grid-gap:0.85rem;
}
.header_menu nav ul li > .sub_menu > .sub_menu_box ul li a {
  font-size:0.8rem;
  letter-spacing:0;
  font-weight:var(--medium);
  color:#898989;
  font-family: 'Pretendard Variable';
  white-space:nowrap;
  line-height:1;
}
.header_menu nav ul li > .sub_menu > .sub_menu_box ul li a:hover {
  color:var(--main-ocher);
}
.header_menu nav ul li > .sub_menu .subcate {
  align-items:flex-start;
  gap:2rem;
  grid-gap:2rem;
  padding:0.8rem 3.05rem 1.55rem 1.45rem;
}
.header_menu nav ul li > .sub_menu .subcate ul {
  gap:0.85rem;
  grid-gap:0.85rem;
  padding:0;
}
.header_menu nav ul li > .sub_menu .subcate ul li.bor a {
  color:var(--main-ocher);
  font-weight:var(--bold);
}
.header_menu nav ul li > .sub_menu .subcate ul li a {
  font-size:0.8rem;
  letter-spacing:0;
  font-weight:var(--medium);
  color:#898989;
  font-family: 'Pretendard Variable';
  white-space:nowrap;
  line-height:1;
}
.mobile_toggle_menu {
  position:fixed;
  left:-100%;
  top:0;
  width:100%;
  height:100%;
  z-index:999999;
  transition:left .5s ease;
  transition-duration:.7s;
}
.mobile_toggle_menu.on {
  left:0;
}
.mobile_toggle_menu .toggle_menu {
  position:absolute;
  left:-100%;
  top:0;
  width:100%;
  height:100%;
  background:#918d79;
  overflow:auto;
  transition:left .5s ease;
}
.mobile_toggle_menu .toggle_menu.on {
  left:0;
}
.toggle_menu .menu_list {
  margin-bottom:5rem;
  padding:2.35rem 1.1rem 0;
}
.toggle_menu .menu_list .btn_menu_close {
  justify-content:flex-end;
}
.toggle_menu .menu_list .btn_menu_close img {
  width:1.1rem;
  height:1.1rem;
  cursor:pointer;
}
.toggle_menu .menu_list .usercheck {
  align-items:center;
  margin:1.05rem 0 2.95rem;
  gap:0.5rem;
  grid-gap:0.5rem;
}
.toggle_menu .menu_list .usercheck .main_title {
  display:inline-flex;
}
.toggle_menu .menu_list .usercheck .main_title img {
  width:4.85rem;
  height:0.85rem;
}
.toggle_menu .menu_list .usercheck .onlogin {
  display:inline-flex;
}
.toggle_menu .menu_list .usercheck .onlogin span {
  font-size:0.725rem;
  letter-spacing:0;
  color:var(--base-white);
  font-weight:var(--medium);
  font-family: 'Pretendard Variable';
}
.toggle_menu .menu_list .usercheck .nologin {
  display:inline-flex;
}
.toggle_menu .menu_list .usercheck .nologin a {
  font-size:0.725rem;
  letter-spacing:0;
  color:var(--base-white);
  font-weight:var(--medium);
  font-family: 'Pretendard Variable';
}
.toggle_menu .menu_list .menu {
  text-align:center;
  align-items:center;
}
.toggle_menu .menu_list .menu > li {
  display:inline-flex;
  padding:0.95rem 1.1rem;
}
.toggle_menu .menu_list .menu > li .flex {
  gap:0.3rem;
  grid-gap:0.3rem;
  justify-content:center;
}
.toggle_menu .menu_list .menu > li .flex-direction .flex img {
  width:0.6rem;
  height:0.35rem;
  transition:transform .3s ease;
}
.toggle_menu .menu_list .menu > li.on .flex-direction .flex img {
  transform:rotate(-180deg);
}
.toggle_menu .menu_list .menu li > .flex-direction .flex a {
  font-size:1.24rem;
  line-height:1rem;
  letter-spacing:0.31px;
  color:var(--base-white);
  font-family: "Cormorant";
  font-weight:var(--regular);
}
.toggle_menu .menu_list .menu li > .flex-direction .dropsubmenu {
  display:none;
}
.toggle_menu .menu_list .menu li > .flex-direction .dropsubmenu ul {
  gap:0.95rem;
  grid-gap:0.95rem;
  margin-top:1rem;
  align-items:center;
}
.toggle_menu .menu_list .menu li > .flex-direction .dropsubmenu ul li a {
  font-size:0.8rem;
  letter-spacing:0;
  color:#eceae3;
  font-weight:var(--regular);
  font-family: 'Pretendard Variable';
}
.toggle_menu .menu_list .menu li > .flex-direction .dropsubmenu ul li a:hover {
  color:var(--base-white);
  font-weight:var(--bold);
}


.toggle_menu .menu_list .togglemenuoption {
  justify-content:center;
  margin-top:3.9875rem;
}
.toggle_menu .menu_list .togglemenuoption a {
  display:inline-flex;
  padding:0 0.3625rem;
  margin:0 0.3625rem;
}
.toggle_menu .menu_list .togglemenuoption a.togglemenuuser {
  width:1.3rem;
  height:1.3rem;
}
.toggle_menu .menu_list .togglemenuoption a.togglemenubasket {
  position:relative;
  width:1.6rem;
  height:1.5rem;
}
.toggle_menu .menu_list .togglemenuoption a.togglemenubasket .basketcount {
  position:absolute;
  right:-0.3rem;
  top:-0.3rem;
  justify-content:center;
  width:1.05rem;
  height:1.05rem;
  border-radius:50%;
  background:#df693f;
  cursor:pointer;
}
.toggle_menu .menu_list .togglemenuoption a.togglemenubasket .basketcount span {
  font-size:0.65rem;
  letter-spacing:0;
  color:var(--base-white);
  font-family: 'Pretendard Variable';
  font-weight:var(--semibold);
  line-height:1;
}


/* common footer */
.footer_wrap {
  background:url(../images/banner/banner_foot.png)no-repeat left center / cover;
  padding:3.65rem 0 0 0;
}
.foot_top {
  justify-content:space-between;
  padding-bottom:1.45rem;
  border-bottom:1px solid #2d2d2d;
}
.foot_top .mobile_foot_top {
  display:none;
}
.foot_top .white_logo {
  width:100%;
  max-width:7.45rem;
  height:1.25rem;
}
.foot_top .forms {
  width:100%;
  justify-content:space-between;
  align-items:stretch;
}
.foot_top .forms > .flex-direction {
  margin-top:-0.45rem;
}
.foot_top .formle {
  gap:2.2rem;
  grid-gap:2.2rem;
  margin-top:1.8rem;
}
.foot_top .formle > .flex-direction {
  gap:0.25rem;
  grid-gap:0.25rem;
}
.foot_top .formle > .flex-direction > .flex h6 {
  font-size:0.6rem;
  letter-spacing:0;
  color:#9d9d9d;
  line-height:1rem;
  font-weight:var(--bold);
  font-family:"Pretendard Variable";
  text-transform: uppercase;
}
.foot_top .formle > .flex-direction > .flex span {
  font-size:0.6rem;
  line-height:1rem;
  letter-spacing:0;
  color:#636363;
  font-weight:var(--regular);
  font-family:"Pretendard Variable";
  padding-left:0.95rem;
}
.foot_top .formri {
  align-items:baseline;
  gap:2.75rem;
  grid-gap:2.75rem;
}
.foot_top .formri > .flex-direction {
  gap:1.4rem;
  grid-gap:1.4rem;
}
.foot_top .formri > .flex-direction h6 {
  font-size:0.8rem;
  line-height:1rem;
  letter-spacing:-0.5px;
  color:var(--base-white);
  font-family: "NM-R";
  font-weight:100;
}
.foot_top .formri > .flex-direction ul {
  gap:0.35rem;
  grid-gap:0.35rem;
}
.foot_top .formri > .flex-direction ul li a {
  display:block;
  font-size:0.65rem;
  line-height:1rem;
  letter-spacing:0;
  color:#636363;
  font-weight:var(--regular);
  font-family:"Pretendard Variable";
}
.foot_bot {
  padding:1.25rem 1rem 1.55rem;
}
.foot_bot > .container {
  justify-content:space-between;
}
.foot_bot .left_ {
  gap:1rem;
  grid-gap:1rem;
}
.foot_bot .link_ {
  gap:1rem;
  grid-gap:1rem;
}
.foot_bot .link_ a {
  text-decoration:underline;
  font-size:0.65rem;
  line-height:1rem;
  letter-spacing:0px;
  color:#636363;
  font-weight:var(--regular);
  font-family:"Pretendard Variable";
}
.foot_bot .num {
  gap:1rem;
  grid-gap:1rem;
}
.foot_bot .num span {
  font-size:0.6rem;
  line-height:1rem;
  letter-spacing:0px;
  color:#636363;
  font-weight:var(--regular);
  font-family:"Pretendard Variable";
}
.foot_bot .link {
  gap:1.3rem;
  grid-gap:1.3rem;
}
.foot_bot .link span {
  font-size:0.65rem;
  line-height:1rem;
  letter-spacing:0px;
  color:#636363;
  font-weight:var(--regular);
  font-family:"Pretendard Variable";
}
.links {
  gap:0.45rem;
  grid-gap:0.45rem;
}
.links a {
  display:block;
}
.links a img {
  width:1.6rem;
  height:1.6rem;
}
.product_list li {
  cursor:pointer;
}
@media screen and (max-width:501px){
  html,body {-ms-overflow-style:none;}
  html::-webkit-scrollbar , body::-webkit-scrollbar{display:none;}
  .wrap {padding-top:3.1rem;}
  .container-fluid {width:100%;min-width:auto;}
  .container {width:100%;max-width:100%;min-width:auto;}
  .header_top {height:3.1rem;}
  .header_top .container .option::after {display:none;}
  .header_wrap .container-fluid {min-width:auto;}
  .header_menu {display:none;}
  .header_top .container .userin {display:none;}
  .header_top .container .logo img {width:5.8rem;height:1rem;}
  .header_top .container .leftmenu {gap:0.7rem;grid-gap:0.7rem;}
  .header_top .container .leftmenu .menu_btn {display:flex;}
  .header_top .container .leftmenu .logo {display:block;}
  .header_top .container .leftmenu .search_box {display:none;}
  .header_top .container .mobile_logo {display:none;}
  .header_top .container .option .user {display:none;}
  .header_top .container .option .mobile_search {display:flex;}
  .foot_top {border-bottom:none;padding-bottom:2.5rem;}
  .foot_top .forms > .flex-direction {width:100%;box-sizing:border-box;}
  .foot_top .forms .flex-direction .footlogo {gap:1.05rem;grid-gap:1.05rem;align-items:center;}
  .foot_top .mobile_foot_top {display:flex;}
  .foot_top .formle {flex-direction:column;align-items:flex-start;gap:0.25rem;grid-gap:0.25rem;}
  .foot_top .formri , .foot_bot .link {display:none;}
  .foot_bot {padding:0;}
  .foot_bot > .container {padding:0;max-width:100%;}
  .foot_bot .link_ , .foot_bot .num{padding:0 1rem}
  .foot_bot .link_  {width:100%;box-sizing:border-box;padding-bottom:0.7rem;border-bottom:1px solid #2d2d2d;}
  .foot_bot .left_ {gap:0.7rem;grid-gap:0.7rem;}
  .foot_bot .left_ , .foot_bot .num {width:100%;box-sizing:border-box;flex-direction:column;align-items:flex-start;}
  .foot_bot .num {gap:0.3rem;grid-gap:0.3rem;padding-bottom:2.65rem;}
}
